.allOrder {
    
    padding: 15px;
    
    border: 1px solid black;
    color:midnightblue;
    box-shadow: 10px 10px 10px gray;
}
.allOrder button { 
    border: 1px solid maroon;
    color: green;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 10px;
}
.allOrder button:hover {
    background-color: black;
    color: white;
}