.add-products {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.add-products form {
    border: 1px solid black;
}
.add-products input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.addProduct {
    border: 1px solid indigo;
    border-radius: 3px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 700;
}
.addProduct:hover {
    background-color: black;
    color: white;
}