.register {   
    padding: 20px;
    background-color:darkolivegreen;
    
}
.register input {
    margin: 10px; 
    justify-content: left;
    align-items: flex-start;
}
.register label {
    text-align: left;
}
.register-button {
    background-color:white;
    color:maroon;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.register-button:hover {
    color: white;
    background-color: black;
}