.all-card {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
    height: 550px;
    width: 320px;
}
.all-card img {
    width: 315px;
    height: 220px;
}
.all-card button {
    margin: 10px;
    padding: 10px 40px 10px;
    border: 1px solid indianred;
    border-radius: 5px;
    color: white;
    background-color: indianred;
    
}
.all-card h2, p, h4, button {
    padding: 5px;
}
.all-card p {
    margin: 10px;
    text-align: left;
}