.web-name {
    font-size: 50px;
    color: yellow;
    padding: 10px;
    background-color: teal;
    font-family: cursive;  
}
.web-name:hover {
    background-color: purple;
}
.top-banner {
    background-color: rgba(236, 230, 165, 0.781);
}
.top-banner h2 {
    justify-content: center;
    margin-top: 60px;
    font-size: 50px;
    color:forestgreen;
    padding: 10px;  
}
.top-banner p {
    font-size: 20px;
    color: navy;
}