.add-reviews {
    text-align: center;
    margin: 10px 400px;
    padding: 10px;
}
.add-reviews form {
    border: 1px solid black;
}
.add-reviews input {
    display: flex;
    flex-direction: column;
    margin: 20px;
}