/* .product {
    margin: 15px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    color:midnightblue;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.596);
}
.product:hover{
    background-color:rgba(85, 107, 47, 0.534);
    color: white;
    
}
.product button {
    background-color:darkcyan;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
} */

.single-card {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
    height: 550px;
    width: 305px;
}
.single-card img {
    width: 300px;
    height: 200px;
}
.single-card button {
    margin: 10px;
    padding: 10px 40px 10px;
    border: 1px solid indianred;
    border-radius: 5px;
    color: white;
    background-color: indianred;
    
}
.single-card h2, p, h4, button {
    padding: 5px;
}
.single-card p {
    margin: 10px;
    text-align: left;
}