.manage-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
}
.manage-products img {
    width: 370px;
    height: 280px;
    border-radius: 5px;
}