/* .products {
    
    margin: 10px;
    padding: 10px;
}
.products img {
    width: 290px;
    height: 350px;
    border-radius: 5px;
} */
.our-product {
    /* margin: 10px;
    font-size: 50px;
    color: crimson; */
    margin: 12px;
    color: black;
    font-size: 50px;
    text-shadow: 7px 7px 7px  red;
}