.booking-info {
    box-shadow: 5px 5px 5px 5px gray;
    padding: 10px;
    color: forestgreen;
    height: 500px;
}
.booking-info p {
    color: teal;
}
.booking-info h2 {
    color: rgba(92, 134, 8, 0.801);
}
.user-info {
    color: tomato;
    margin: 10px;   
    padding: 5px;
}
.input-form { 
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 5px gray;
}
.input-form input {
    margin: 10px;
}
.submit {
    padding: 10px 60px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}
.submit:hover {
    background-color: black;
    color: white;
}